.version.about_members /* version checker */
{
	color: #0000E8;
	background-color: #03CC59;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1200px;
	min-height: 2205.5999999999995px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 20px;
	padding-bottom: 61px;
	width: 0.01px;
}

#u6308
{
	z-index: 192;
	width: 1200px;
	padding-bottom: 41px;
	top: 0px;
	left: 50%;
	margin-left: -600px;
}

#u6373-17
{
	z-index: 264;
	width: 590px;
	min-height: 40px;
	top: 0px;
	left: 50%;
	margin-left: -600px;
}

#buttonu6349
{
	z-index: 203;
	width: 100px;
	top: 0px;
	left: 50%;
	margin-left: -10px;
}

#buttonu6349:hover
{
	width: 100px;
	min-height: 0px;
	margin: 0px 0px 0px -10px;
}

#buttonu6349.ButtonSelected
{
	width: 100px;
	min-height: 0px;
	margin: 0px 0px 0px -10px;
}

#u6350-4
{
	z-index: 204;
	width: 100px;
	min-height: 33px;
	margin-right: -10000px;
	margin-top: 8px;
}

#buttonu6349:hover #u6350-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 33px;
	width: 100px;
	margin: 8px -10000px 0px 0px;
}

#menuu6351
{
	z-index: 208;
	width: 130px;
	top: 0px;
	left: 50%;
	margin-left: 90px;
}

#u6353
{
	width: 130px;
	padding-bottom: 17px;
}

#u6353:hover
{
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u6355-4
{
	width: 116px;
	min-height: 23px;
	margin-right: -10000px;
	top: 8px;
}

#u6353:hover #u6355-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u6356
{
	z-index: 215;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 13px;
	left: 116px;
}

#u6353:hover #u6356
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6358
{
	width: 130px;
}

#u6367
{
	width: 128px;
	padding-bottom: 17px;
	margin-right: -10000px;
}

#u6367:hover
{
	width: 128px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6369-4
{
	width: 120px;
	min-height: 23px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u6367:hover #u6369-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 120px;
	margin: 0px -10000px 0px 0px;
}

#u6360
{
	width: 128px;
	padding-bottom: 17px;
	margin-right: -10000px;
}

#u6367.MuseMenuActive,#u6360:hover
{
	width: 128px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6362-4
{
	width: 120px;
	min-height: 23px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u6367.MuseMenuActive #u6369-4,#u6360:hover #u6362-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 120px;
	margin: 0px -10000px 0px 0px;
}

#menuu6309
{
	z-index: 230;
	width: 130px;
	top: 0px;
	left: 50%;
	margin-left: 220px;
}

#u6352,#u6310
{
	width: 130px;
	min-height: 40px;
	margin-right: -10000px;
}

#u6311
{
	width: 130px;
	padding-bottom: 17px;
}

#u6353.MuseMenuActive,#u6358:hover,#u6311:hover
{
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u6311:active
{
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u6312-4
{
	width: 116px;
	min-height: 23px;
	margin-right: -10000px;
	top: 8px;
}

#u6353.MuseMenuActive #u6355-4,#u6311:hover #u6312-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u6311:active #u6312-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u6311.MuseMenuActive #u6312-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u6313
{
	z-index: 237;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 13px;
	left: 116px;
}

#u6353.MuseMenuActive #u6356,#u6311:hover #u6313
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6311:active #u6313
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6311.MuseMenuActive #u6313
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6357,#u6315
{
	width: 130px;
	top: 40px;
}

#u6366,#u6359,#u6316
{
	width: 130px;
}

#u6311.MuseMenuActive,#u6316:hover
{
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u6332
{
	width: 128px;
	padding-bottom: 17px;
	margin-right: -10000px;
}

#u6360.MuseMenuActive,#u6332:hover
{
	width: 128px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6335-4
{
	width: 120px;
	min-height: 23px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u6360.MuseMenuActive #u6362-4,#u6332:hover #u6335-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 120px;
	margin: 0px -10000px 0px 0px;
}

#u6325
{
	width: 128px;
	padding-bottom: 17px;
	margin-right: -10000px;
}

#u6332.MuseMenuActive,#u6325:hover
{
	width: 128px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6326-4
{
	width: 120px;
	min-height: 23px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u6332.MuseMenuActive #u6335-4,#u6325:hover #u6326-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 120px;
	margin: 0px -10000px 0px 0px;
}

#u6341
{
	width: 128px;
	padding-bottom: 17px;
	margin-right: -10000px;
}

#u6325.MuseMenuActive,#u6341:hover
{
	width: 128px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6343-4
{
	width: 120px;
	min-height: 23px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u6325.MuseMenuActive #u6326-4,#u6341:hover #u6343-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 120px;
	margin: 0px -10000px 0px 0px;
}

#u6331,#u6324,#u6338,#u6317
{
	width: 130px;
}

#u6318
{
	width: 128px;
	padding-bottom: 17px;
	margin-right: -10000px;
}

#u6341.MuseMenuActive,#u6318:hover
{
	width: 128px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6318.MuseMenuActive
{
	width: 128px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6320-4
{
	width: 120px;
	min-height: 23px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u6341.MuseMenuActive #u6343-4,#u6318:hover #u6320-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 120px;
	margin: 0px -10000px 0px 0px;
}

#u6318.MuseMenuActive #u6320-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 120px;
	margin: 0px -10000px 0px 0px;
}

#buttonu6345
{
	z-index: 198;
	width: 150px;
	top: 0px;
	left: 50%;
	margin-left: 350px;
}

#buttonu6345:hover
{
	width: 150px;
	min-height: 0px;
	margin: 0px 0px 0px 350px;
}

#buttonu6345.ButtonSelected
{
	width: 150px;
	min-height: 0px;
	margin: 0px 0px 0px 350px;
}

#u6346-4
{
	z-index: 199;
	width: 150px;
	min-height: 33px;
	margin-right: -10000px;
	margin-top: 8px;
}

#buttonu6345:hover #u6346-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 33px;
	width: 150px;
	margin: 8px -10000px 0px 0px;
}

#buttonu6345.ButtonSelected #u6346-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 33px;
	width: 150px;
	margin: 8px -10000px 0px 0px;
}

#buttonu6347
{
	z-index: 193;
	width: 100px;
	top: 0px;
	left: 50%;
	margin-left: 500px;
}

#buttonu6347:hover
{
	width: 100px;
	min-height: 0px;
	margin: 0px 0px 0px 500px;
}

#buttonu6347.ButtonSelected
{
	width: 100px;
	min-height: 0px;
	margin: 0px 0px 0px 500px;
}

#u6348-4
{
	z-index: 194;
	width: 100px;
	min-height: 33px;
	margin-right: -10000px;
	margin-top: 8px;
}

#buttonu6349.ButtonSelected #u6350-4,#buttonu6347:hover #u6348-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 33px;
	width: 100px;
	margin: 8px -10000px 0px 0px;
}

#buttonu6347.ButtonSelected #u6348-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 33px;
	width: 100px;
	margin: 8px -10000px 0px 0px;
}

#u6307
{
	z-index: 291;
	height: 1px;
	top: 40px;
}

#u6307-bw
{
	z-index: 291;
}

#u2731-4
{
	z-index: 12;
	width: 1160px;
	min-height: 30px;
	border-color: #000000;
	background-color: transparent;
	color: #000000;
	font-size: 20px;
	text-align: center;
	line-height: 30px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-left: 20px;
	position: relative;
}

#u2732
{
	z-index: 16;
	width: 1160px;
	height: 1px;
	border-color: #000000;
	background-color: #9D1939;
	margin-left: 20px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u3298
{
	z-index: 8;
	width: 200px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2748
{
	z-index: 17;
	width: 199px;
	height: 249px;
	border-width: 1px;
	border-style: solid;
	border-color: #9D1939;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u2750-4
{
	z-index: 19;
	width: 960px;
	min-height: 40px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 200px;
}

#u2751-4
{
	z-index: 23;
	width: 960px;
	min-height: 40px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	left: 200px;
}

#u2752-4
{
	z-index: 27;
	width: 960px;
	min-height: 40px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 80px;
	left: 200px;
}

#u2753-9
{
	z-index: 31;
	width: 960px;
	min-height: 130px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 120px;
	left: 200px;
}

#u2749
{
	z-index: 18;
	width: 1160px;
	height: 40px;
	margin-left: 20px;
	position: relative;
}

#u2791
{
	z-index: 10;
	width: 200px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2760
{
	z-index: 40;
	width: 199px;
	height: 249px;
	border-width: 1px;
	border-style: solid;
	border-color: #9D1939;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u2762-4
{
	z-index: 42;
	width: 960px;
	min-height: 40px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 200px;
}

#u2763-4
{
	z-index: 46;
	width: 960px;
	min-height: 40px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	left: 200px;
}

#u2764-4
{
	z-index: 50;
	width: 960px;
	min-height: 40px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 80px;
	left: 200px;
}

#u2765-9
{
	z-index: 54;
	width: 960px;
	min-height: 130px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 120px;
	left: 200px;
}

#u2765-2
{
	padding-left: 20px;
	font-weight: bold;
}

#u2765-4,#u2765-6
{
	padding-left: 20px;
	font-weight: normal;
}

#pu6374
{
	width: 0.01px;
	padding-bottom: 40px;
	margin-left: -100px;
	margin-top: -103px;
}

#u6374
{
	z-index: 281;
	height: 40px;
	bottom: 0px;
}

#u6374:hover
{
	height: 40px;
	min-height: 0px;
	margin: 0px;
}

#u6374-bw
{
	z-index: 281;
}

#u6375
{
	z-index: 282;
	width: 289px;
	padding-bottom: 40px;
	bottom: 0px;
	left: 50%;
	margin-left: 311px;
}

#u6378-4
{
	z-index: 285;
	width: 212px;
	min-height: 13px;
	bottom: 9px;
	left: 50%;
	margin-left: 311px;
}

#u6379
{
	z-index: 289;
	width: 34px;
	bottom: 3px;
	left: 50%;
	margin-left: 523px;
}

#u6376
{
	z-index: 283;
	width: 40px;
	bottom: 0px;
	left: 50%;
	margin-left: 560px;
}

#u2761
{
	z-index: 41;
	width: 1160px;
	height: 40px;
	margin-left: 20px;
	position: relative;
}

#u5213
{
	z-index: 167;
	width: 200px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u5215
{
	z-index: 169;
	width: 199px;
	height: 249px;
	border-width: 1px;
	border-style: solid;
	border-color: #9D1939;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u5217-4
{
	z-index: 171;
	width: 960px;
	min-height: 40px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 200px;
}

#u5218-4
{
	z-index: 175;
	width: 960px;
	min-height: 40px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	left: 200px;
}

#u5219-4
{
	z-index: 179;
	width: 960px;
	min-height: 40px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 80px;
	left: 200px;
}

#u5220-9
{
	z-index: 183;
	width: 960px;
	min-height: 130px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 120px;
	left: 200px;
}

#u5216
{
	z-index: 170;
	width: 1160px;
	height: 40px;
	margin-left: 20px;
	position: relative;
}

#u3318
{
	z-index: 6;
	width: 200px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2766
{
	z-index: 63;
	width: 199px;
	height: 249px;
	border-width: 1px;
	border-style: solid;
	border-color: #9D1939;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u2768-4
{
	z-index: 65;
	width: 960px;
	min-height: 40px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 200px;
}

#u2769-4
{
	z-index: 69;
	width: 960px;
	min-height: 40px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	left: 200px;
}

#u2770-4
{
	z-index: 73;
	width: 960px;
	min-height: 40px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 80px;
	left: 200px;
}

#u2771-9
{
	z-index: 77;
	width: 960px;
	min-height: 130px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 120px;
	left: 200px;
}

#u2767
{
	z-index: 64;
	width: 1160px;
	height: 40px;
	margin-left: 20px;
	position: relative;
}

#u5353
{
	z-index: 4;
	width: 200px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4528
{
	z-index: 91;
	width: 199px;
	height: 249px;
	border-width: 1px;
	border-style: solid;
	border-color: #9D1939;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u4530-4
{
	z-index: 93;
	width: 960px;
	min-height: 40px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 200px;
}

#u4531-4
{
	z-index: 97;
	width: 960px;
	min-height: 40px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	left: 200px;
}

#u4532-4
{
	z-index: 101;
	width: 960px;
	min-height: 40px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 80px;
	left: 200px;
}

#u4533-9
{
	z-index: 105;
	width: 960px;
	min-height: 130px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 120px;
	left: 200px;
}

#u4529
{
	z-index: 92;
	width: 1160px;
	height: 40px;
	margin-left: 20px;
	position: relative;
}

#pu2791,#pu5213,#pu3318,#pu5353,#pu6154
{
	width: 0.01px;
	margin-left: 20px;
}

#u6154
{
	z-index: 2;
	width: 200px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u6154_clip
{
	overflow: hidden;
	width: 200px;
	height: 250px;
}

#u6154_img
{
	margin-bottom: -25px;
}

#u4534
{
	z-index: 114;
	width: 199px;
	height: 249px;
	border-width: 1px;
	border-style: solid;
	border-color: #9D1939;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u4536-4
{
	z-index: 116;
	width: 960px;
	min-height: 40px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 200px;
}

#u4537-4
{
	z-index: 120;
	width: 960px;
	min-height: 40px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	left: 200px;
}

#u4538-4
{
	z-index: 124;
	width: 960px;
	min-height: 40px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 80px;
	left: 200px;
}

#u4539-9
{
	z-index: 128;
	width: 960px;
	min-height: 130px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 120px;
	left: 200px;
}

#u4535
{
	z-index: 115;
	width: 1160px;
	height: 40px;
	margin-left: 20px;
	position: relative;
}

#u4520-4
{
	z-index: 86;
	width: 1160px;
	min-height: 30px;
	border-color: #000000;
	background-color: transparent;
	color: #000000;
	font-size: 20px;
	text-align: center;
	line-height: 30px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-left: 20px;
	position: relative;
}

#u4521
{
	z-index: 90;
	width: 1160px;
	height: 1px;
	border-color: #000000;
	background-color: #9D1939;
	margin-left: 20px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u5211-4
{
	z-index: 162;
	width: 1160px;
	min-height: 30px;
	border-color: #000000;
	background-color: transparent;
	color: #000000;
	font-size: 20px;
	text-align: center;
	line-height: 30px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-left: 20px;
	margin-top: 40px;
	position: relative;
}

#u5212
{
	z-index: 166;
	width: 1160px;
	height: 1px;
	border-color: #000000;
	background-color: #9D1939;
	margin-left: 20px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#pu3298,#pu5199
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 12px;
}

#u5199
{
	z-index: 137;
	width: 200px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u5201
{
	z-index: 139;
	width: 199px;
	height: 249px;
	border-width: 1px;
	border-style: solid;
	border-color: #9D1939;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u5203-4
{
	z-index: 141;
	width: 960px;
	min-height: 40px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 200px;
}

#u5204-4
{
	z-index: 145;
	width: 960px;
	min-height: 40px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	left: 200px;
}

#u5205-4
{
	z-index: 149;
	width: 960px;
	min-height: 40px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 80px;
	left: 200px;
}

#u5206-9
{
	z-index: 153;
	width: 960px;
	min-height: 130px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 120px;
	left: 200px;
}

#u2753-7 > li:before,#u2765-7 > li:before,#u5220-7 > li:before,#u2771-7 > li:before,#u4533-7 > li:before,#u4539-7 > li:before,#u5206-7 > li:before
{
	content: '-';
}

#u2750-2,#u2751-2,#u2752-2,#u2753-2,#u2753-4,#u2753-6,#u2762-2,#u2763-2,#u2764-2,#u5217-2,#u5218-2,#u5219-2,#u5220-2,#u5220-4,#u5220-6,#u2768-2,#u2769-2,#u2770-2,#u2771-2,#u2771-4,#u2771-6,#u4530-2,#u4531-2,#u4532-2,#u4533-2,#u4533-4,#u4533-6,#u4536-2,#u4537-2,#u4538-2,#u4539-2,#u4539-4,#u4539-6,#u5203-2,#u5204-2,#u5205-2,#u5206-2,#u5206-4,#u5206-6
{
	padding-left: 20px;
}

#u2753-7 > #u2753-4:before,#u2753-7 > #u2753-6:before,#u2765-7 > #u2765-4:before,#u2765-7 > #u2765-6:before,#u5220-7 > #u5220-4:before,#u5220-7 > #u5220-6:before,#u2771-7 > #u2771-4:before,#u2771-7 > #u2771-6:before,#u4533-7 > #u4533-4:before,#u4533-7 > #u4533-6:before,#u4539-7 > #u4539-4:before,#u4539-7 > #u4539-6:before,#u5206-7 > #u5206-4:before,#u5206-7 > #u5206-6:before
{
	margin-right: -14px;
}

#u2753-7.rtl-list > #u2753-4:before,#u2753-7.rtl-list > #u2753-6:before,#u2765-7.rtl-list > #u2765-4:before,#u2765-7.rtl-list > #u2765-6:before,#u5220-7.rtl-list > #u5220-4:before,#u5220-7.rtl-list > #u5220-6:before,#u2771-7.rtl-list > #u2771-4:before,#u2771-7.rtl-list > #u2771-6:before,#u4533-7.rtl-list > #u4533-4:before,#u4533-7.rtl-list > #u4533-6:before,#u4539-7.rtl-list > #u4539-4:before,#u4539-7.rtl-list > #u4539-6:before,#u5206-7.rtl-list > #u5206-4:before,#u5206-7.rtl-list > #u5206-6:before
{
	margin-right: 0px;
	margin-left: -14px;
}

#u2753-3,#u2753-5,#u5220-3,#u5220-5,#u2771-3,#u2771-5,#u4533-3,#u4533-5,#u4539-3,#u4539-5,#u5206-3,#u5206-5
{
	font-weight: normal;
}

#u5202
{
	z-index: 140;
	width: 1160px;
	height: 40px;
	margin-left: 20px;
	position: relative;
}

.ie #u2749,.ie #u2761,.ie #u5216,.ie #u2767,.ie #u4529,.ie #u4535,.ie #u5202
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

body
{
	position: relative;
	min-width: 1200px;
	padding-top: 41px;
	padding-bottom: 40px;
}

#page .verticalspacer
{
	clear: both;
}

