.version.about_competitions /* version checker */
{
	color: #0000ED;
	background-color: #BE0435;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1200px;
	min-height: 2295.699999999998px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 20px;
	padding-bottom: 61px;
	width: 0.01px;
}

#u6308
{
	z-index: 258;
	width: 1200px;
	padding-bottom: 41px;
	top: 0px;
	left: 50%;
	margin-left: -600px;
}

#u6373-17
{
	z-index: 330;
	width: 590px;
	min-height: 40px;
	top: 0px;
	left: 50%;
	margin-left: -600px;
}

#buttonu6349
{
	z-index: 269;
	width: 100px;
	top: 0px;
	left: 50%;
	margin-left: -10px;
}

#buttonu6349:hover
{
	width: 100px;
	min-height: 0px;
	margin: 0px 0px 0px -10px;
}

#buttonu6349.ButtonSelected
{
	width: 100px;
	min-height: 0px;
	margin: 0px 0px 0px -10px;
}

#u6350-4
{
	z-index: 270;
	width: 100px;
	min-height: 33px;
	margin-right: -10000px;
	margin-top: 8px;
}

#buttonu6349:hover #u6350-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 33px;
	width: 100px;
	margin: 8px -10000px 0px 0px;
}

#menuu6351
{
	z-index: 274;
	width: 130px;
	top: 0px;
	left: 50%;
	margin-left: 90px;
}

#u6353
{
	width: 130px;
	padding-bottom: 17px;
}

#u6353:hover
{
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u6355-4
{
	width: 116px;
	min-height: 23px;
	margin-right: -10000px;
	top: 8px;
}

#u6353:hover #u6355-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u6356
{
	z-index: 281;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 13px;
	left: 116px;
}

#u6353:hover #u6356
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6358
{
	width: 130px;
}

#u6367
{
	width: 128px;
	padding-bottom: 17px;
	margin-right: -10000px;
}

#u6367:hover
{
	width: 128px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6369-4
{
	width: 120px;
	min-height: 23px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u6367:hover #u6369-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 120px;
	margin: 0px -10000px 0px 0px;
}

#u6360
{
	width: 128px;
	padding-bottom: 17px;
	margin-right: -10000px;
}

#u6367.MuseMenuActive,#u6360:hover
{
	width: 128px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6362-4
{
	width: 120px;
	min-height: 23px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u6367.MuseMenuActive #u6369-4,#u6360:hover #u6362-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 120px;
	margin: 0px -10000px 0px 0px;
}

#menuu6309
{
	z-index: 296;
	width: 130px;
	top: 0px;
	left: 50%;
	margin-left: 220px;
}

#u6352,#u6310
{
	width: 130px;
	min-height: 40px;
	margin-right: -10000px;
}

#u6311
{
	width: 130px;
	padding-bottom: 17px;
}

#u6353.MuseMenuActive,#u6358:hover,#u6311:hover
{
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u6311:active
{
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u6312-4
{
	width: 116px;
	min-height: 23px;
	margin-right: -10000px;
	top: 8px;
}

#u6353.MuseMenuActive #u6355-4,#u6311:hover #u6312-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u6311:active #u6312-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u6311.MuseMenuActive #u6312-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u6313
{
	z-index: 303;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 13px;
	left: 116px;
}

#u6353.MuseMenuActive #u6356,#u6311:hover #u6313
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6311:active #u6313
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6311.MuseMenuActive #u6313
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6357,#u6315
{
	width: 130px;
	top: 40px;
}

#u6366,#u6359,#u6316
{
	width: 130px;
}

#u6311.MuseMenuActive,#u6316:hover
{
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u6332
{
	width: 128px;
	padding-bottom: 17px;
	margin-right: -10000px;
}

#u6360.MuseMenuActive,#u6332:hover
{
	width: 128px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6335-4
{
	width: 120px;
	min-height: 23px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u6360.MuseMenuActive #u6362-4,#u6332:hover #u6335-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 120px;
	margin: 0px -10000px 0px 0px;
}

#u6325
{
	width: 128px;
	padding-bottom: 17px;
	margin-right: -10000px;
}

#u6332.MuseMenuActive,#u6325:hover
{
	width: 128px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6326-4
{
	width: 120px;
	min-height: 23px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u6332.MuseMenuActive #u6335-4,#u6325:hover #u6326-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 120px;
	margin: 0px -10000px 0px 0px;
}

#u6341
{
	width: 128px;
	padding-bottom: 17px;
	margin-right: -10000px;
}

#u6325.MuseMenuActive,#u6341:hover
{
	width: 128px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6343-4
{
	width: 120px;
	min-height: 23px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u6325.MuseMenuActive #u6326-4,#u6341:hover #u6343-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 120px;
	margin: 0px -10000px 0px 0px;
}

#u6331,#u6324,#u6338,#u6317
{
	width: 130px;
}

#u6318
{
	width: 128px;
	padding-bottom: 17px;
	margin-right: -10000px;
}

#u6341.MuseMenuActive,#u6318:hover
{
	width: 128px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6318.MuseMenuActive
{
	width: 128px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6320-4
{
	width: 120px;
	min-height: 23px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u6341.MuseMenuActive #u6343-4,#u6318:hover #u6320-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 120px;
	margin: 0px -10000px 0px 0px;
}

#u6318.MuseMenuActive #u6320-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 120px;
	margin: 0px -10000px 0px 0px;
}

#buttonu6345
{
	z-index: 264;
	width: 150px;
	top: 0px;
	left: 50%;
	margin-left: 350px;
}

#buttonu6345:hover
{
	width: 150px;
	min-height: 0px;
	margin: 0px 0px 0px 350px;
}

#buttonu6345.ButtonSelected
{
	width: 150px;
	min-height: 0px;
	margin: 0px 0px 0px 350px;
}

#u6346-4
{
	z-index: 265;
	width: 150px;
	min-height: 33px;
	margin-right: -10000px;
	margin-top: 8px;
}

#buttonu6345:hover #u6346-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 33px;
	width: 150px;
	margin: 8px -10000px 0px 0px;
}

#buttonu6345.ButtonSelected #u6346-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 33px;
	width: 150px;
	margin: 8px -10000px 0px 0px;
}

#buttonu6347
{
	z-index: 259;
	width: 100px;
	top: 0px;
	left: 50%;
	margin-left: 500px;
}

#buttonu6347:hover
{
	width: 100px;
	min-height: 0px;
	margin: 0px 0px 0px 500px;
}

#buttonu6347.ButtonSelected
{
	width: 100px;
	min-height: 0px;
	margin: 0px 0px 0px 500px;
}

#u6348-4
{
	z-index: 260;
	width: 100px;
	min-height: 33px;
	margin-right: -10000px;
	margin-top: 8px;
}

#buttonu6349.ButtonSelected #u6350-4,#buttonu6347:hover #u6348-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 33px;
	width: 100px;
	margin: 8px -10000px 0px 0px;
}

#buttonu6347.ButtonSelected #u6348-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 33px;
	width: 100px;
	margin: 8px -10000px 0px 0px;
}

#u6307
{
	z-index: 357;
	height: 1px;
	top: 40px;
}

#u6307-bw
{
	z-index: 357;
}

#pu2800-4
{
	width: 0.01px;
	margin-left: 20px;
}

#u2800-4
{
	z-index: 2;
	width: 1160px;
	min-height: 30px;
	border-color: #000000;
	background-color: transparent;
	color: #000000;
	font-size: 20px;
	text-align: center;
	line-height: 30px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#irec_2015
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
}

#u2801
{
	z-index: 6;
	width: 1160px;
	height: 1px;
	border-color: #000000;
	background-color: #9D1939;
	margin-left: 20px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u2802-13
{
	z-index: 7;
	width: 1160px;
	min-height: 30px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	margin-left: 20px;
	margin-top: 12px;
	position: relative;
}

#u3972
{
	z-index: 20;
	width: 1160px;
	background-color: transparent;
	margin-left: 20px;
	margin-top: 12px;
	position: relative;
}

#pu6374
{
	width: 0.01px;
	padding-bottom: 40px;
	margin-left: -100px;
	margin-top: -126px;
}

#u6374
{
	z-index: 347;
	height: 40px;
	bottom: 0px;
}

#u6374:hover
{
	height: 40px;
	min-height: 0px;
	margin: 0px;
}

#u6374-bw
{
	z-index: 347;
}

#u6375
{
	z-index: 348;
	width: 289px;
	padding-bottom: 40px;
	bottom: 0px;
	left: 50%;
	margin-left: 311px;
}

#u6378-4
{
	z-index: 351;
	width: 212px;
	min-height: 13px;
	bottom: 9px;
	left: 50%;
	margin-left: 311px;
}

#u6379
{
	z-index: 355;
	width: 34px;
	bottom: 3px;
	left: 50%;
	margin-left: 523px;
}

#u6376
{
	z-index: 349;
	width: 40px;
	bottom: 0px;
	left: 50%;
	margin-left: 560px;
}

#u3976-7
{
	z-index: 22;
	width: 1160px;
	min-height: 67px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	margin-left: 20px;
	margin-top: 12px;
	position: relative;
}

#u5358
{
	z-index: 256;
	width: 1160px;
	background-color: transparent;
	margin-left: 20px;
	margin-top: 13px;
	position: relative;
}

#u3981-10
{
	z-index: 29;
	width: 1160px;
	min-height: 130px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	margin-left: 20px;
	margin-top: 12px;
	position: relative;
}

#u3976,#u3976-4,#u3981,#u3981-4,#u3981-7
{
	font-size: 18px;
}

#u5225-6
{
	z-index: 249;
	width: 1160px;
	min-height: 30px;
	border-color: #000000;
	background-color: transparent;
	color: #000000;
	font-size: 20px;
	text-align: center;
	line-height: 30px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 20px;
	position: relative;
}

#u5225,#u5225-2
{
	font-weight: bold;
}

#u5226
{
	z-index: 255;
	width: 1160px;
	height: 1px;
	border-color: #000000;
	background-color: #9D1939;
	margin-left: 20px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u4681
{
	z-index: 40;
	width: 1160px;
	min-height: 611px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 20px;
	margin-top: 13px;
	position: relative;
}

#slideshowu4683
{
	z-index: 41;
	width: 0.01px;
	height: 550px;
	margin-left: 20px;
	margin-top: 45px;
	position: relative;
}

#u4714
{
	position: absolute;
	width: 821px;
	height: 510px;
	background-color: transparent;
}

#u4714popup
{
	z-index: 42;
}

#u4731
{
	z-index: 43;
	width: 821px;
	height: 510px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4755
{
	z-index: 45;
	width: 821px;
	height: 510px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4755_img
{
	margin-top: -53px;
	margin-bottom: -53px;
}

#u4749
{
	z-index: 47;
	width: 821px;
	height: 510px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4749_img
{
	margin: 162px -70px 162px -69px;
}

#u4747
{
	z-index: 49;
	width: 821px;
	height: 510px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4747_img
{
	padding-left: 141px;
	padding-right: 140px;
}

#u4745
{
	z-index: 51;
	width: 821px;
	height: 510px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4731_img,#u4745_img
{
	margin-top: -52px;
	margin-bottom: -51px;
}

#u4761
{
	z-index: 53;
	width: 821px;
	height: 510px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4743
{
	z-index: 55;
	width: 821px;
	height: 510px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4737
{
	z-index: 57;
	width: 821px;
	height: 510px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4725
{
	z-index: 59;
	width: 821px;
	height: 510px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4717
{
	z-index: 61;
	width: 821px;
	height: 510px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4763
{
	z-index: 63;
	width: 821px;
	height: 510px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4727
{
	z-index: 65;
	width: 821px;
	height: 510px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4753
{
	z-index: 67;
	width: 821px;
	height: 510px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4735
{
	z-index: 69;
	width: 821px;
	height: 510px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4739
{
	z-index: 71;
	width: 821px;
	height: 510px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4733
{
	z-index: 73;
	width: 821px;
	height: 510px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4759
{
	z-index: 75;
	width: 821px;
	height: 510px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4719
{
	z-index: 77;
	width: 821px;
	height: 510px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4721
{
	z-index: 79;
	width: 821px;
	height: 510px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4761_img,#u4743_img,#u4737_img,#u4725_img,#u4717_img,#u4763_img,#u4727_img,#u4753_img,#u4739_img,#u4719_img,#u4721_img
{
	padding-left: 52px;
	padding-right: 52px;
}

#u4723
{
	z-index: 81;
	width: 821px;
	height: 510px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4735_img,#u4733_img,#u4759_img,#u4723_img
{
	padding: 3px 223px 3px 222px;
}

#u4741
{
	z-index: 83;
	width: 821px;
	height: 510px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4751
{
	z-index: 85;
	width: 821px;
	height: 510px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4751_img
{
	padding: 51px 295px 51px 296px;
}

#u4715
{
	z-index: 87;
	width: 821px;
	height: 510px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4715_img
{
	padding: 72px 307px 72px 308px;
}

#u4729
{
	z-index: 89;
	width: 821px;
	height: 510px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4731_clip,#u4755_clip,#u4749_clip,#u4745_clip,#u4741_clip,#u4729_clip
{
	overflow: hidden;
	width: 821px;
	height: 510px;
}

#u4741_img,#u4729_img
{
	margin-left: -43px;
	margin-right: -43px;
}

#u4768
{
	position: absolute;
	width: 339px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 230px;
	left: 822px;
}

#u4768popup
{
	z-index: 91;
}

#u4775
{
	z-index: 92;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 34px;
}

#u4769
{
	z-index: 94;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 104px;
}

#u4817
{
	z-index: 96;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 174px;
}

#u4785
{
	z-index: 98;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 244px;
}

#u4775.SSSlideLinkSelected,#u4769.SSSlideLinkSelected,#u4817.SSSlideLinkSelected,#u4785.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4815
{
	z-index: 100;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 34px;
}

#u4805
{
	z-index: 102;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 104px;
}

#u4791
{
	z-index: 104;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 174px;
}

#u4799
{
	z-index: 106;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 244px;
}

#u4815.SSSlideLinkSelected,#u4805.SSSlideLinkSelected,#u4791.SSSlideLinkSelected,#u4799.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 55px -10000px 0px 0px;
}

#u4811
{
	z-index: 108;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 34px;
}

#u4777
{
	z-index: 110;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 104px;
}

#u4781
{
	z-index: 112;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 174px;
}

#u4783
{
	z-index: 114;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 244px;
}

#u4811.SSSlideLinkSelected,#u4777.SSSlideLinkSelected,#u4781.SSSlideLinkSelected,#u4783.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 110px -10000px 0px 0px;
}

#u4773
{
	z-index: 116;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
	left: 34px;
}

#u4803
{
	z-index: 118;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
	left: 104px;
}

#u4793
{
	z-index: 120;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
	left: 174px;
}

#u4807
{
	z-index: 122;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
	left: 244px;
}

#u4773.SSSlideLinkSelected,#u4803.SSSlideLinkSelected,#u4793.SSSlideLinkSelected,#u4807.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 165px -10000px 0px 0px;
}

#u4787
{
	z-index: 124;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 220px;
	left: 34px;
}

#u4789
{
	z-index: 126;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 220px;
	left: 104px;
}

#u4779
{
	z-index: 128;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 220px;
	left: 174px;
}

#u4813
{
	z-index: 130;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 220px;
	left: 244px;
}

#u4787.SSSlideLinkSelected,#u4789.SSSlideLinkSelected,#u4779.SSSlideLinkSelected,#u4813.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 220px -10000px 0px 0px;
}

#u4801
{
	z-index: 132;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 275px;
	left: 34px;
}

#u4771
{
	z-index: 134;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 275px;
	left: 104px;
}

#u4809
{
	z-index: 136;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 275px;
	left: 174px;
}

#u4795
{
	z-index: 138;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 275px;
	left: 244px;
}

#u4801.SSSlideLinkSelected,#u4771.SSSlideLinkSelected,#u4809.SSSlideLinkSelected,#u4795.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 275px -10000px 0px 0px;
}

#u4688
{
	position: absolute;
	width: 452px;
	background-color: transparent;
	top: 510px;
}

#u4688popup
{
	z-index: 140;
}

#u4696-4
{
	z-index: 141;
	width: 432px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	text-align: left;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u4708-4
{
	z-index: 145;
	width: 432px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	text-align: left;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u4699-4
{
	z-index: 149;
	width: 432px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	text-align: left;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u4700-4
{
	z-index: 153;
	width: 432px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	text-align: left;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u4693-4
{
	z-index: 157;
	width: 432px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	text-align: left;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u4707-4
{
	z-index: 161;
	width: 432px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	text-align: left;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u4694-4
{
	z-index: 165;
	width: 432px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	text-align: left;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u4713-4
{
	z-index: 169;
	width: 432px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	text-align: left;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u4710-4
{
	z-index: 173;
	width: 432px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	text-align: left;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u4698-4
{
	z-index: 177;
	width: 432px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	text-align: left;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u4704-4
{
	z-index: 181;
	width: 432px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	text-align: left;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u4703-4
{
	z-index: 185;
	width: 432px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	text-align: left;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u4701-4
{
	z-index: 189;
	width: 432px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	text-align: left;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u4705-4
{
	z-index: 193;
	width: 432px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	text-align: left;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u4692-4
{
	z-index: 197;
	width: 432px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	text-align: left;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u4690-4
{
	z-index: 201;
	width: 432px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	text-align: left;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u4706-4
{
	z-index: 205;
	width: 432px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	text-align: left;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u4689-4
{
	z-index: 209;
	width: 432px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	text-align: left;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u4702-4
{
	z-index: 213;
	width: 432px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	text-align: left;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u4711-4
{
	z-index: 217;
	width: 432px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	text-align: left;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u4709-4
{
	z-index: 221;
	width: 432px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	text-align: left;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u4691-4
{
	z-index: 225;
	width: 432px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	text-align: left;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u4695-4
{
	z-index: 229;
	width: 432px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	text-align: left;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u4712-4
{
	z-index: 233;
	width: 432px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	text-align: left;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u4765-4
{
	position: absolute;
	width: 48px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 510px;
	left: 482px;
}

#u4765-4popup
{
	z-index: 237;
}

#u4767-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 510px;
	left: 452px;
}

#u4767-4popup
{
	z-index: 241;
}

#u4765,#u4767
{
	color: #999999;
}

#u4684-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 510px;
	left: 550px;
}

#u4684-4popup
{
	z-index: 245;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

body
{
	position: relative;
	min-width: 1200px;
	padding-top: 40px;
	padding-bottom: 40px;
}

#page .verticalspacer
{
	clear: both;
}

