.version.index /* version checker */
{
	color: #000007;
	background-color: #8D71F7;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1161px;
	min-height: 942px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 20px 158px 19px;
}

#u6308
{
	z-index: 99;
	width: 1200px;
	padding-bottom: 49px;
	top: -3px;
	left: 50%;
	margin-left: -600px;
}

#u6373-14
{
	z-index: 171;
	width: 590px;
	min-height: 43px;
	top: -3px;
	left: 50%;
	margin-left: -600px;
}

#buttonu6349
{
	z-index: 110;
	width: 100px;
	top: 0px;
	left: 50%;
	margin-left: -10px;
}

#buttonu6349:hover
{
	width: 100px;
	min-height: 0px;
	margin: 0px 0px 0px -10px;
}

#buttonu6349.ButtonSelected
{
	width: 100px;
	min-height: 0px;
	margin: 0px 0px 0px -10px;
}

#u6350-4
{
	z-index: 111;
	width: 100px;
	min-height: 33px;
	margin-right: -10000px;
	margin-top: 8px;
}

#buttonu6349:hover #u6350-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 33px;
	width: 100px;
	margin: 8px -10000px 0px 0px;
}

#menuu6351
{
	z-index: 115;
	width: 130px;
	top: 0px;
	left: 50%;
	margin-left: 90px;
}

#u6353
{
	width: 130px;
	padding-bottom: 17px;
}

#u6353:hover
{
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u6355-4
{
	width: 116px;
	min-height: 23px;
	margin-right: -10000px;
	top: 8px;
}

#u6353:hover #u6355-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u6356
{
	z-index: 122;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 13px;
	left: 116px;
}

#u6353:hover #u6356
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6358
{
	width: 130px;
}

#u6367
{
	width: 128px;
	padding-bottom: 17px;
	margin-right: -10000px;
}

#u6367:hover
{
	width: 128px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6369-4
{
	width: 120px;
	min-height: 23px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u6367:hover #u6369-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 120px;
	margin: 0px -10000px 0px 0px;
}

#u6360
{
	width: 128px;
	padding-bottom: 17px;
	margin-right: -10000px;
}

#u6367.MuseMenuActive,#u6360:hover
{
	width: 128px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6362-4
{
	width: 120px;
	min-height: 23px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u6367.MuseMenuActive #u6369-4,#u6360:hover #u6362-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 120px;
	margin: 0px -10000px 0px 0px;
}

#menuu6309
{
	z-index: 137;
	width: 130px;
	top: 0px;
	left: 50%;
	margin-left: 220px;
}

#u6352,#u6310
{
	width: 130px;
	min-height: 40px;
	margin-right: -10000px;
}

#u6311
{
	width: 130px;
	padding-bottom: 17px;
}

#u6353.MuseMenuActive,#u6358:hover,#u6311:hover
{
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u6311:active
{
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u6312-4
{
	width: 116px;
	min-height: 23px;
	margin-right: -10000px;
	top: 8px;
}

#u6353.MuseMenuActive #u6355-4,#u6311:hover #u6312-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u6311:active #u6312-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u6311.MuseMenuActive #u6312-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u6313
{
	z-index: 144;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 13px;
	left: 116px;
}

#u6353.MuseMenuActive #u6356,#u6311:hover #u6313
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6311:active #u6313
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6311.MuseMenuActive #u6313
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6357,#u6315
{
	width: 130px;
	top: 40px;
}

#u6366,#u6359,#u6316
{
	width: 130px;
}

#u6311.MuseMenuActive,#u6316:hover
{
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u6332
{
	width: 128px;
	padding-bottom: 17px;
	margin-right: -10000px;
}

#u6360.MuseMenuActive,#u6332:hover
{
	width: 128px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6335-4
{
	width: 120px;
	min-height: 23px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u6360.MuseMenuActive #u6362-4,#u6332:hover #u6335-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 120px;
	margin: 0px -10000px 0px 0px;
}

#u6325
{
	width: 128px;
	padding-bottom: 17px;
	margin-right: -10000px;
}

#u6332.MuseMenuActive,#u6325:hover
{
	width: 128px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6326-4
{
	width: 120px;
	min-height: 23px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u6332.MuseMenuActive #u6335-4,#u6325:hover #u6326-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 120px;
	margin: 0px -10000px 0px 0px;
}

#u6341
{
	width: 128px;
	padding-bottom: 17px;
	margin-right: -10000px;
}

#u6325.MuseMenuActive,#u6341:hover
{
	width: 128px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6343-4
{
	width: 120px;
	min-height: 23px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u6325.MuseMenuActive #u6326-4,#u6341:hover #u6343-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 120px;
	margin: 0px -10000px 0px 0px;
}

#u6331,#u6324,#u6338,#u6317
{
	width: 130px;
}

#u6318
{
	width: 128px;
	padding-bottom: 17px;
	margin-right: -10000px;
}

#u6341.MuseMenuActive,#u6318:hover
{
	width: 128px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6318.MuseMenuActive
{
	width: 128px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6320-4
{
	width: 120px;
	min-height: 23px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u6341.MuseMenuActive #u6343-4,#u6318:hover #u6320-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 120px;
	margin: 0px -10000px 0px 0px;
}

#u6318.MuseMenuActive #u6320-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 120px;
	margin: 0px -10000px 0px 0px;
}

#buttonu6345
{
	z-index: 105;
	width: 150px;
	top: 0px;
	left: 50%;
	margin-left: 350px;
}

#buttonu6345:hover
{
	width: 150px;
	min-height: 0px;
	margin: 0px 0px 0px 350px;
}

#buttonu6345.ButtonSelected
{
	width: 150px;
	min-height: 0px;
	margin: 0px 0px 0px 350px;
}

#u6346-4
{
	z-index: 106;
	width: 150px;
	min-height: 33px;
	margin-right: -10000px;
	margin-top: 8px;
}

#buttonu6345:hover #u6346-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 33px;
	width: 150px;
	margin: 8px -10000px 0px 0px;
}

#buttonu6345.ButtonSelected #u6346-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 33px;
	width: 150px;
	margin: 8px -10000px 0px 0px;
}

#buttonu6347
{
	z-index: 100;
	width: 100px;
	top: 0px;
	left: 50%;
	margin-left: 500px;
}

#buttonu6347:hover
{
	width: 100px;
	min-height: 0px;
	margin: 0px 0px 0px 500px;
}

#buttonu6347.ButtonSelected
{
	width: 100px;
	min-height: 0px;
	margin: 0px 0px 0px 500px;
}

#u6348-4
{
	z-index: 101;
	width: 100px;
	min-height: 33px;
	margin-right: -10000px;
	margin-top: 8px;
}

#buttonu6349.ButtonSelected #u6350-4,#buttonu6347:hover #u6348-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 33px;
	width: 100px;
	margin: 8px -10000px 0px 0px;
}

#buttonu6347.ButtonSelected #u6348-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 33px;
	width: 100px;
	margin: 8px -10000px 0px 0px;
}

#u6307
{
	z-index: 185;
	height: 1px;
	top: 40px;
}

#u6307-bw
{
	z-index: 185;
}

#slideshowu1119
{
	z-index: 8;
	width: 0.01px;
	height: 542px;
	margin-left: 1px;
	position: relative;
}

#u1131
{
	position: absolute;
	width: 1160px;
	height: 489px;
	background-color: transparent;
}

#u1131popup
{
	z-index: 9;
}

#u3417
{
	z-index: 10;
	width: 1160px;
	height: 489px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3417_img
{
	margin: -3px 141px 122px;
}

#u3426
{
	z-index: 12;
	width: 1160px;
	height: 489px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3435
{
	z-index: 14;
	width: 1160px;
	height: 489px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3435_img
{
	margin: -2px 250px -3px 251px;
}

#u3444
{
	z-index: 16;
	width: 1160px;
	height: 489px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3444_img
{
	margin: -2px 141px -3px;
}

#u3453
{
	z-index: 18;
	width: 1160px;
	height: 489px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3417_clip,#u3426_clip,#u3435_clip,#u3444_clip,#u3453_clip
{
	overflow: hidden;
	width: 1160px;
	height: 489px;
}

#u3426_img,#u3453_img
{
	margin: -3px 141px -2px;
}

#u1140
{
	position: absolute;
	width: 972px;
	background-color: transparent;
	top: 494px;
}

#u1140popup
{
	z-index: 20;
}

#u3423-4
{
	z-index: 21;
	width: 952px;
	min-height: 28px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 28px;
	color: #999999;
	font-size: 20px;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u3432-4
{
	z-index: 25;
	width: 952px;
	min-height: 28px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 28px;
	color: #999999;
	font-size: 20px;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u3441-4
{
	z-index: 29;
	width: 952px;
	min-height: 28px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 28px;
	color: #999999;
	font-size: 20px;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u3450-4
{
	z-index: 33;
	width: 952px;
	min-height: 28px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 28px;
	color: #999999;
	font-size: 20px;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u3459-4
{
	z-index: 37;
	width: 952px;
	min-height: 28px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 28px;
	color: #999999;
	font-size: 20px;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u1144-4
{
	position: absolute;
	width: 168px;
	min-height: 28px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 28px;
	font-size: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	top: 494px;
	left: 972px;
}

#u1144-4popup
{
	z-index: 41;
}

#u1144
{
	color: #999999;
}

#u1130-10
{
	position: absolute;
	width: 60px;
	min-height: 469px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 10px;
	padding: 10px;
	line-height: 36px;
	color: #999999;
	font-size: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	left: 1080px;
}

#u1130-10:hover
{
	border-color: #000000;
	background-color: #E5E5E5;
	background-color: rgba(0,0,0,0.1);
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 469px;
	width: 60px;
	margin: 0px;
	-pie-background: rgba(0,0,0,0.1);
}

#u1130-10popup
{
	z-index: 45;
}

#u1139-10
{
	position: absolute;
	width: 60px;
	min-height: 469px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 10px;
	padding: 10px;
	line-height: 36px;
	color: #999999;
	font-size: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u1139-10:hover
{
	border-color: #000000;
	background-color: #E5E5E5;
	background-color: rgba(0,0,0,0.1);
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 469px;
	width: 60px;
	margin: 0px;
	-pie-background: rgba(0,0,0,0.1);
}

#u1139-10popup
{
	z-index: 55;
}

#u1130-10:hover p,#u1139-10:hover p
{
	color: #000000;
	visibility: inherit;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u6374
{
	z-index: 98;
	height: 40px;
	bottom: 0px;
}

#u6374:hover
{
	height: 40px;
	min-height: 0px;
	margin: 0px;
}

#u6374-bw
{
	z-index: 98;
}

#u1168-3
{
	z-index: 65;
	width: 5px;
	background-color: transparent;
	margin-left: 507px;
	top: -62px;
	margin-bottom: -17px;
	position: relative;
}

#u6495
{
	z-index: 186;
	width: 327px;
	padding-bottom: 3px;
	bottom: 0px;
	left: 50%;
	margin-left: 273px;
}

#u6375
{
	z-index: 187;
	width: 327px;
	padding-bottom: 40px;
	bottom: 0px;
	left: 50%;
	margin-left: 273px;
}

#u6378-4
{
	z-index: 190;
	width: 212px;
	min-height: 13px;
	bottom: 9px;
	left: 50%;
	margin-left: 273px;
}

#u6379
{
	z-index: 194;
	width: 34px;
	bottom: 3px;
	left: 50%;
	margin-left: 523px;
}

#u6379 .clip_frame
{
	-webkit-border-radius: 2px 2px 2px 2px;
}

#u6376
{
	z-index: 188;
	width: 40px;
	bottom: 0px;
	left: 50%;
	margin-left: 560px;
}

#u6489
{
	z-index: 196;
	width: 34px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 212px;
}

#u6489 .clip_frame
{
	-webkit-border-radius: 6px 6px 6px 6px;
}

#pu1185
{
	width: 0.01px;
	margin-left: 1px;
}

#u1185
{
	z-index: 68;
	width: 1160px;
	height: 1px;
	border-color: #000000;
	background-color: #9D1939;
	position: relative;
	margin-right: -10000px;
}

#u5235
{
	z-index: 97;
	width: 1160px;
	height: 40px;
	position: relative;
	margin-right: -10000px;
}

#u4540-4
{
	z-index: 69;
	width: 1160px;
	min-height: 30px;
	border-color: #000000;
	background-color: transparent;
	line-height: 30px;
	color: #000000;
	font-size: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 1px;
	position: relative;
}

#pu4541
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: -1px;
}

#u4541
{
	z-index: 73;
	width: 1160px;
	height: 1px;
	border-color: #000000;
	background-color: #9D1939;
	position: relative;
	margin-right: -10000px;
}

#u4542
{
	z-index: 74;
	width: 1160px;
	height: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u4572
{
	z-index: 6;
	width: 1160px;
	background-color: transparent;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
}

#u4572 .clip_frame
{
	-webkit-border-radius: 10px 10px 10px 10px;
}

#u4544-4
{
	z-index: 75;
	width: 1160px;
	min-height: 36px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u4545-6
{
	z-index: 79;
	width: 1160px;
	min-height: 36px;
	background-color: transparent;
	line-height: 19px;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 51px;
}

#u4563
{
	z-index: 85;
	width: 1160px;
	height: 150px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
}

.ie #u5235,.ie #u4542,.ie #u4563
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u4563:hover
{
	background-color: #7F7F7F;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	width: 1160px;
	height: 150px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5231
{
	z-index: 2;
	width: 1160px;
	height: 40px;
	margin-top: 1px;
	position: relative;
}

#pu4572,#pu5234
{
	width: 0.01px;
	margin-top: -1px;
}

#u5234
{
	z-index: 3;
	width: 387px;
	height: 100px;
	background-color: #AF1E2D;
	border-radius: 0px 10px 10px 0px ;
	position: relative;
	margin-right: -10000px;
	left: 773px;
}

#u5233
{
	z-index: 4;
	width: 386px;
	height: 100px;
	background-color: #E0AA0F;
	position: relative;
	margin-right: -10000px;
	left: 387px;
}

#u5232
{
	z-index: 5;
	width: 387px;
	height: 100px;
	background-color: #00386B;
	border-radius: 10px 0px 0px 10px ;
	position: relative;
	margin-right: -10000px;
}

#u5228-4
{
	z-index: 86;
	width: 1160px;
	min-height: 36px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u5228
{
	font-size: 18px;
}

#u5229-6
{
	z-index: 90;
	width: 1160px;
	min-height: 36px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 51px;
}

#u5229,#u5229-3
{
	font-size: 16px;
}

#u5227
{
	z-index: 96;
	width: 1160px;
	height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
}

.ie #u5231,.ie #u5227
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u5227:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	width: 1160px;
	height: 100px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

.ie #u4563:hover,.ie #u5227:hover
{
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

body
{
	position: relative;
	min-width: 1200px;
	padding-top: 40px;
	padding-bottom: 40px;
}

#page .verticalspacer
{
	clear: both;
}

